<!DOCTYPE html>
<html>
<head>
    <title>TVFinder</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/jquery-ui-1.10.1.custom.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/tvFinder.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<article class="tvFinderContent">
    <nav class="tvFinderTopNav">
        <ul class="tvFinderWalmartNav">
            <li class="walmartLogoCell"><a class="walmartLogoLink" href="http://www.walmart.com/"
                                           title="Go To Walmart.com">Walmart</a></li>
            <li class="walmartSearchCell">
                <form class="walmartSearchForm" action="http://www.walmart.com/search/">
                    <button class="walmartSearchSubmit" type="submit" title="Search">Search</button>
                    <input class="walmartSearchInput" type="text" name="q" placeholder="Search"/>
                </form>
            </li>
            <li class="walmartCreateCell"><a class="walmartCreateLink" href="#" title="Create a new wishlist">Create</a>

                <div class="walmartCreateText">a new wishlist</div>
            </li>
            <li class="walmartSignInCell"><a class="walmartSignInLink" href="#" title="Sign In to your account">Sign
                In</a>

                <div class="walmartSignInText">to your account</div>
            </li>
            <li class="walmartCartCell"><a class="walmartCartLink" href="#" title="View the 0 items in your cart">0
                Items</a>

                <div class="walmartCartText">in your cart</div>
            </li>
        </ul>
        <ul class="tvFinderBreadcrumbLine">
            <li class="tvFinderHomeBreadcrumb"><a class="tvFinderHomeLink" href="#" title="home">Home</a></li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#" title="Departments">Deparments</a>
            </li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#"
                                              title="Electronics">Electronics</a></li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#" title="TV's">TV's</a></li>
        </ul>
    </nav>
    <header>
        <h1 class="tvFinderHeader">Get More, For Less</h1>

        <h2 class="tvFinderDescription">Find the perfect Television with our new <a class="tvFinderLink" href="#"
                                                                                    title="TVFinder">TVFinder&trade;</a>
        </h2>

        <div class="tvFinderOffers">
            <div class="tvFinderMinPrice"><span class="tvFinderUsDollars">{{minPriceDollars}}</span><span
                    class="tvFinderUsCents">{{minPriceCents}}</span></div>
            <div class="tvFinderMinSize">{{minPriceSize}}&rdquo;</div>
            <div class="tvFinderMedianPrice"><span class="tvFinderUsDollars">{{medianPriceDollars}}</span><span
                    class="tvFinderUsCents">{{medianPriceCents}}</span></div>
            <div class="tvFinderMedianSize">{{medianPriceSize}}&rdquo;</div>
            <div class="tvFinderMaxPrice"><span class="tvFinderUsDollars">{{maxPriceDollars}}</span><span
                    class="tvFinderUsCents">{{maxPriceCents}}</span></div>
            <div class="tvFinderMaxSize">{{maxPriceSize}}&rdquo;</div>
        </div>
        <ul class="tvFinderControls">
            <li><a class="tvFinderLogoLink" href="#" title="Go to the TV Finder">TV Finder</a></li>
            <li class="tvFinderSizePrompt">Size
                <div id="tvFinderSizeSlider" class="tvFinderControl"></div>
            </li>
            <li class="tvFinderTypePrompt">Type
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Any
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" data-role="filter" data-attr="Type">
                        <li class="tvFinderMenuChoice"><a href="#">Any</a></li>
                        {{#types}}
                            <li class="tvFinderMenuChoice"><a href="#">{{.}}</a></li>
                        {{/types}}
                    </ul>
                </div>
            </li>
            <li class="tvFinderBrandPrompt">Brand
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Any
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" data-role="filter" data-attr="Brand">
                        <li class="tvFinderMenuChoice"><a href="#">Any</a></li>
                        {{#brands}}
                            <li class="tvFinderMenuChoice"><a href="#">{{.}}</a></li>
                        {{/brands}}
                    </ul>
                </div>
            </li>
            <li class="tvFinderSortPrompt">Sort
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Featured
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" data-role="sort">
                        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Featured</a></li>
                        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Price</a></li>
                        <li class="tvFinderMenuChoice"><a href="#" data-asc="false">Rating</a></li>
                        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Name</a></li>
                        <li class="tvFinderMenuChoice"><a href="#" data-asc="true">Size</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <header class="tvFinderOfferHeader">
            <span id="tvFinderMatchOfferCountId" class="tvFinderMatchOfferCount">{{items.length}} Matches</span>
            <span>for televisions fitting that criteria</span>
            <button id="tvFinderClearFiltersId" class="btn tvFinderClearFilters">Clear Filters</button>
        </header>
    </header>
    <section id="tvFinderOfferContainerId" class="tvFinderOfferContainer">
        {{#items}}
            <article class="tvFinderOffer" data-Featured="{{@index}}" data-Type="{{type}}" data-Brand="{{brand}}"
                     data-Price="{{price}}"
                     data-Name="{{name}}"
                     data-Rating="{{rating}}" data-Size="{{size}}">
                <header>
                    <h1 class="tvFinderProduct"><a class="tvFinderProductLink" href="{{url}}" title="{{name}}">
                        <i class="tvFinderProductImage"
                           data-img
                           data-src="{{image}}"
                           data-alt="{{name}}"></i>

                        <div class="tvFinderProductName">{{{name}}}</div>
                    </a></h1>
                </header>
                <ul class="tvFinderProductDetails">{{{description}}}</ul>
                <p class="tvFinderProductPrice"><span class="tvFinderUsDollars">{{dollars}}</span><span
                        class="tvFinderUsCents">{{cents}}</span></p>

                <p class="tvFinderProductRating">
                    <span class="tvFinderProductRatingSummary" style="width: {{ratingWidth}}px"
                          title="{{ratingDisplay}} out of 5 Stars"></span>
                </p>
            </article>
        {{/items}}
    </section>
    <footer>
    </footer>
</article>
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.viewed.js"></script>
<script src="js/jquery.deferredimage.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="js/jquery.ui.slider.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script>
    !function ($) {
        $("#tvFinderSizeSlider").slider({
            animate: "fast",
            range: true,
            min: {{minSize}},
            max: {{maxSize}},
            minRangeSize: 1,
            maxRangeSize: {{maxSize}} - {{minSize}},
            lowMax: {{maxSize}},
            topMin: {{minSize}},
            autoShift: true,
            values: [{{minSize}}, {{maxSize}}]
        })
        ;
    }
            (window.jQuery);
</script>
<script src="js/tvFinder.js"></script>
</body>
</html>