<!DOCTYPE html>
<html>
<head>
    <title>TVFinder</title>
    <link href="../TVFinder/css/TVFinder.css" type="text/css" rel="stylesheet"/>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<nav>
    <ul id="tvFinderTopNav">
        <li><a id="logo" class="tvFinderSprite" href="#"></a></li>
        <li id="search">
            <form action="http://www.walmart.com/search/">
                <input type="text" name="q"/>
            </form>
        </li>
        <li id="links">
            <ul>
                <li id="create">
                    <span><a href="#" title="Create a new wishlist">Create</a></span>a new wishlist
                </li>
                <li id="signIn">
                    <a href="#" title="Sign In to your account">Sign In</a><span>to your account</span>
                </li>
                <li id="cart">
                    <a href="#" title="0 Items"></a>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="tvFinderBreadcrumb">
        <li><a href="#" title="home"></a></li>
        <li><a href="#" title="Departments">Deparments</a></li>
        <li><a href="#" title="Electronics">Electronics</a></li>
        <li><a href="#" title="TV's">TV's</a></li>
    </ul>
</nav>
<section>
    <h1>Get More, For Less</h1>
    <strong>Find the perfect Television with our new <a href="#" title="TVFinder">TVFinder&trade;</a></strong>
    <ul><!-- tvs in the range -->
        <li><a href="#" title="small"></a></li>
        <li><a href="#" title="medium"></a></li>
        <li><a href="#" title="large"></a></li>
    </ul>
    <ul>
        <li><a id="tvFinderLogo" href="#" title="TV Finder"></a></li>
        <li><!-- range widget --></li>
        <li>Type</li>
        <li>Brand</li>
        <li>Sort</li>
    </ul>
</section>
<!-- gradient separator -->
<section id="tvFinderContainer" class="clearfix">
    {{#items}}
    <article data-type="{{type}}" data-brand="{{brand}}" data-price="{{price}}" data-name="{{name}}" data-rating="{{rating}}" data-size="{{size}}">
        <header>
            <h1 class="tvFinderProduct"><a href="#" title=""><img class="tvFinderProductImage" src="http://i.walmartimages.com/i/p/00/79/23/43/23/0079234323252_180X180.jpg"
                                                                  alt=""/>lorem lorem lorem</a></h1>
        </header>
        <p class="tvFinderProductDetails"><ul></ul></p>
        <p class="tvFinderProductPrice"><span class="tvFinderUsDollars">$XX</span><span class="tvFinderUsCents">.xx</span></p>
        <p class="tvFinderProductRating"><!-- product rating summary --></p>
    </article>
    {{/items}}
</section>
<footer>
    <!-- e-mail signup -->
    <nav>
        <ul>
            <li>
                <!-- column 1 -->
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </nav>
</footer>
<script src="js/jquery.js"></script>
<script src="../TVFinder/js/jquery.isotope.js"></script>
</body>
</html>