<!DOCTYPE html>
<html>
<head>
    <title>TVFinder</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/jQRangeSlider-classic-min.css" type="text/css" rel="stylesheet"/>
    <link href="css/tvFinder.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<article class="tvFinderContent">
    <nav class="tvFinderTopNav">
        <ul class="tvFinderWalmartNav">
            <li class="walmartLogoCell"><a class="walmartLogoLink" href="http://www.walmart.com/"
                                           title="Go To Walmart.com">Walmart</a></li>
            <li class="walmartSearchCell">
                <form class="walmartSearchForm" action="http://www.walmart.com/search/">
                    <button class="walmartSearchSubmit" type="submit" title="Search">Search</button><input class="walmartSearchInput" type="text" name="q" placeholder="Search"/>
                </form>
            </li>
            <li class="walmartCreateCell"><a class="walmartCreateLink" href="#" title="Create a new wishlist">Create</a>
                <div class="walmartCreateText">a new wishlist </div>
            </li>
            <li class="walmartSignInCell"><a class="walmartSignInLink" href="#" title="Sign In to your account">Sign In</a>
                <div class="walmartSignInText">to your account</div>
            </li>
            <li class="walmartCartCell"><a class="walmartCartLink" href="#" title="View the 0 items in your cart">0 Items</a>
                <div class="walmartCartText">in your cart</div>
            </li>
        </ul>
        <ul class="tvFinderBreadcrumbLine">
            <li class="tvFinderHomeBreadcrumb"><a class="tvFinderHomeLink" href="#" title="home">Home</a></li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#" title="Departments">Deparments</a></li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#" title="Electronics">Electronics</a></li>
            <li class="tvFinderBreadcrumb"><a class="tvFinderBreadcrumbLink" href="#" title="TV's">TV's</a></li>
        </ul>
    </nav>
    <header>
        <h1 class="tvFinderHeader">Get More, For Less</h1>
        <h2 class="tvFinderDescription">Find the perfect Television with our new <a class="tvFinderLink" href="#" title="TVFinder">TVFinder&trade;</a></h2>
        <div class="tvFinderOffers"></div>
        <ul class="tvFinderControls">
            <li><a class="tvFinderLogoLink" href="#" title="Go to the TV Finder">TV Finder</a></li>
            <li class="tvFinderSizePrompt">Size
                <div id="tvFinderSizeSlider" class="tvFinderControl"></div></li>
            <li class="tvFinderTypePrompt">Type
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Any
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="tvFinderMenuChoice"><a href="#">Any</a></li>
                        {{#types}}
                        <li class="tvFinderMenuChoice"><a href="#">{{.}}</a></li>
                        {{/types}}
                    </ul>
                </div></li>
            <li class="tvFinderBrandPrompt">Brand
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Any
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="tvFinderMenuChoice"><a href="#">Any</a></li>
                        {{#brands}}
                        <li class="tvFinderMenuChoice"><a href="#">{{.}}</a></li>
                        {{/brands}}
                    </ul>
                </div></li>
            <li class="tvFinderSortPrompt">Sort
                <div class="btn-group tvFinderControl">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        Featured
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="tvFinderMenuChoice"><a href="#">Price</a></li>
                        <li class="tvFinderMenuChoice"><a href="#">Rating</a></li>
                        <li class="tvFinderMenuChoice"><a href="#">Name</a></li>
                        <li class="tvFinderMenuChoice"><a href="#">Size</a></li>
                    </ul>
                </div></li>
        </ul>
    </header>
    <section id="tvFinderOfferContainer" class="clearfix">
        {{#items}}
        <article class="tvFinderOffer" data-type="{{type}}" data-brand="{{brand}}" data-price="{{price}}"
                 data-name="{{name}}"
                 data-rating="{{rating}}" data-size="{{size}}">
            <header>
                <h1 class="tvFinderProduct"><a href="{{url}}" title=""><img class="tvFinderProductImage"
                                                                            src="{{image}}"
                                                                            alt="{{name}}"/>{{name}}</a></h1>
            </header>
            <p class="tvFinderProductDetails">
            <ul>{{{description}}}</ul>
            </p>
            <p class="tvFinderProductPrice"><span class="tvFinderUsDollars">{{dollars}}</span><span
                    class="tvFinderUsCents">{{cents}}</span></p>

            <p class="tvFinderProductRating">{{rating}}</p>
        </article>
        {{/items}}
    </section>
    <footer>
        <!-- e-mail signup -->
        <nav>
            <ul>
                <li>
                    <!-- column 1 -->
                    <ul>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
</article>
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="js/jQRangeSlider-min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script>$("#tvFinderSizeSlider").rangeSlider({arrows:false,bounds:{min:{{minSize}},max:{{maxSize}} },defaultValues:{min:{{minSize}},max:{{maxSize}} }});</script>
<script src="js/tvFinder.js"></script>
</body>
</html>